header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.4rem;
}

.logo {
	font-weight: 700;
	font-size: 2.4rem;
	color: var(--color-primary);
}

.nav-menu {
	display: flex;
	gap: 3.2rem;
}

.nav-menu a {
	font-weight: 500;
	font-size: 1.6rem;
	color: var(--color-text);
	transition: all 0.3s ease;
}

.nav-menu a:hover,
.nav-menu a.active {
	color: var(--color-accent-green);
}