<article class="article-card">
  <div *appHasRole="'admin'" class="card-actions">
    <button class="action-btn edit-btn" title="Редактировать статью" (click)="onEdit($event)">
      <mat-icon>edit</mat-icon>
    </button>
    <button class="action-btn delete-btn" title="Удалить статью" (click)="onDelete($event)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  
  <a [routerLink]="['/blog', post.id]">
    <div class="article-image">
      <img [src]="post.img" [alt]="post.title" class="tmpl-img"/>
    </div>
    <div class="article-content">
      <h3 class="tmpl-title">{{ post.title }}</h3>
      <p class="tmpl-text">{{ post.text }}</p>
      <time class="article-date tmpl-date">{{ post.date }}</time>
    </div>
  </a>
</article>